{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{%static 'css/bootstrap.css'%}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{%static 'css/mdb.min.css'%}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{%static 'css/style.min.css'%}" rel="stylesheet">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">
    
          <!-- Brand -->
          <a class="navbar-brand waves-effect" href="/" target="_blank">
            <strong class="deep-orange-text">VITAMIN MALL</strong>
          </a>
    
          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link waves-effect" href="#">HOME
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
    
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a class="nav-link waves-effect">
                  <span class="badge red z-depth-1 mr-1"> 1 </span>
                  <i class="fas fa-shopping-cart"></i>
                  <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                </a>
              </li>
              </li>
              {% if thisuser.is_authenticated %}
              <li class="nav-item">
                <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
                  target="_blank">
                  Logout
                </a>
              </li>
              {%endif%}
              <li class="nav-item">
                <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
                  target="_blank">
                  Login/Register
                </a>
              </li>
            </ul>
          </div>  
        </div>
      </nav>
    
    
      <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">
    
          <!--Grid row-->
          <div class="row2 wow fadeIn">
    
            <!--Grid column-->
            <div class="col-md-6 mb-4">
    
              <img src="{{one_product.product_pic}}" class="img-fluid" alt="">
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-6 mb-4">
    
              <!--Content-->
              <div class="p-4">
    
                <div class="mb-3">
                  <a href="">
                    <span class="badge purple mr-1">Category 2</span>
                  </a>
                  <a href="">
                    <span class="badge blue mr-1">New</span>
                  </a>
                  <a href="">
                    <span class="badge red mr-1">Bestseller</span>
                  </a>
                </div>
                <p class="lead">
                  <span>{{ one_product.product_name }}</span>
                </p>
    
                <p class="lead font-weight-bold">Description</p>
    
                <p>{{ one_product.description }}</p>
    
                  <a action="/checkout" method="post"class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                    <i class="fas fa-shopping-cart ml-1"></i>
                  </a>  
            </div>
            <!--Content-->
            </div>
        <!--Grid column-->
            
        </div>
        <!--Grid row-->
    </main>

    <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">
    </div>
      <footer class="page-footer text-center font-small mt-4 orange accent-3 fadeIn">

        <!--Call to action-->
        <div class="pt-4">
          <h5>Contact Us</h5>
          <p>vitaminmall@gmail.com</p>
        </div>
        <!--/.Call to action-->
    
        <hr class="my-4">
    
        <!-- Social icons -->
        <div class="pb-4">
          <a href="https://www.facebook.com/mdbootstrap" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
          </a>
    
          <a href="https://instagram.com/MDBootstrap" target="_blank">
            <i class="fab fa-instagram mr-3"></i>
          </a>
        </div>
        <!-- Social icons -->
    
        <!--Copyright-->
        <div class="footer-copyright py-3">
          © 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
        </div>
        <!--/.Copyright-->
    
      </footer>

        
</body>
</html>